#heading{
    margin-left: 30%;
    margin-top: 16%;
    font-size: 450%;
    color: aliceblue;
    align-items: center;
    }
    #heading2{
    margin-left: 40%;
    font-size: 130px;
    color: aliceblue;
    margin-top:2%;
     }
    #btn{
    margin-left: 41%;
    padding: 25px 40px;
    border-radius: 40px;
    background-color: blueviolet;
    color: aliceblue;
    margin-top: 3%;
    width: 20%;
    font-size: medium;
    font-weight:bolder ;
    }
    #landing{
       background-image: url(imagess/wall.jpeg);
       background-position: initial;
       background-repeat: no-repeat;
       background-size: cover;
       width: 980px;
       height: 660px;
       margin-left: 24%;
       border-radius: 15%;
    }
    body{
    background-color: #BB9FDE;
    }
    @media screen and (min-width: 300px) and (max-width:700px) {
      #heading{
         margin-left: 15%;
         margin-top: 16%;
         font-size: 40px;
         color: aliceblue;
         align-items: center;
         }
         #heading2{
         margin-left: 29%;
         font-size: 70px;
         color: aliceblue;
         margin-top:2%;
          }
         #btn{
         margin-left: 29%;
         padding: 10px 63px;
         border-radius: 30px;
         background-color: blueviolet;
         color: rgb(239, 243, 247);
         margin-top: 4%;
         margin-bottom: 15px;
         /* width: 10%; */
         font-size: 14px;
         font-weight:bolder ;
         /* text-align: center; */
         }
         #landing{
            background-image: url(imagess/wall.jpeg);
            background-position: initial;
            background-repeat: no-repeat;
            background-size: cover;
            width: 88%;
            height: 98%;
            margin-left: 7%;
            margin-right: 45px;
            margin-top: 30%;
         }
         body{
         background-color: #BB9FDE;
         }
    }
      @media screen and (min-width: 701px)and (max-width:1200px) {
         #heading{
            margin-left: 29%;
            margin-top: 16%;
            font-size: 50px;
            color: aliceblue;
            align-items: center;
            }
            #heading2{
            margin-left: 35%;
            font-size: 93px;
            color: aliceblue;
            margin-top:2%;
             }
            #btn{
            margin-left: 35%;
            padding: 2px 11px;
            border-radius: 35px;
            background-color: blueviolet;
            color: aliceblue;
            margin-top: 10%;
            margin-bottom: 40px;
            width: 29%;
            font-size: 23px;
            font-weight:bolder ;
            height: 65px;
            }
            #landing{
               background-image: url(imagess/wall.jpeg);
               background-position: initial;
               background-repeat: no-repeat;
               background-size: cover;
               width: 78%;
               height: 150%;
               margin-left: 12%;
               margin-top: 30%;
            }
            body{
            background-color: #BB9FDE;
            }
    }
    @media screen and (min-width: 600px)and (max-width:1024px) {
      #heading{
         margin-left: 29%;
         margin-top: 16%;
         font-size: 50px;
         color: aliceblue;
         align-items: center;
         }
         #heading2{
         margin-left: 35%;
         font-size: 93px;
         color: aliceblue;
         margin-top:2%;
          }
         #btn{
         margin-left: 35%;
         padding: 2px 11px;
         border-radius: 35px;
         background-color: blueviolet;
         color: aliceblue;
         margin-top: 5%;
         margin-bottom: 130px;
         width: 29%;
         font-size: 23px;
         font-weight:bolder ;
         height: 65px;
         }
         #landing {
            background-image: url(imagess/wall.jpeg);
            background-position: initial;
            background-repeat: no-repeat;
            background-size: cover;
            width: 78%;
            height: 400px;
            margin-left: 12%;
            margin-bottom: 1200px;
            /* margin-top: -7%; */
         }
         body{
         background-color: #BB9FDE;
         height: 90px;
         }
   }
   @media screen and (min-width: 800px)and (max-width:1280px) {
      #heading{
         margin-left: 29%;
         margin-top: 16%;
         font-size: 50px;
         color: aliceblue;
         align-items: center;
         }
         #heading2{
         margin-left: 35%;
         font-size: 93px;
         color: aliceblue;
         margin-top:2%;
          }
         #btn{
         margin-left: 35%;
         padding: 2px 11px;
         border-radius: 35px;
         background-color: blueviolet;
         color: aliceblue;
         margin-top: 5%;
         margin-bottom: 130%;
         width: 29%;
         font-size: 23px;
         font-weight:bolder ;
         height: 65px;
         }
         #landing{
            background-image: url(imagess/wall.jpeg);
            background-position: initial;
            background-repeat: no-repeat;
            background-size: cover;
            width: 78%;
            height: 500px;
            margin-left: 12%;
            margin-top: -3%;
         }
         body{
         background-color: #BB9FDE;
         }
   }